#MIT License
#Copyright (c) 2024 Daniel Gunther

#For the full license text, see the LICENSE.txt file in the docs directory.
#If LICENSE.txt is not included, this version of the source code is provided in breach of this license.

#******************************************************

build
.vscode
.DS_Store
USEFUL_COMMANDS.md
docs
emitting_ir
asm_experimentation
.devcontainer
